.WeatherInfo {
  margin-top: 20px;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
  align-items: center;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 55px;
  font-weight: 400;
  margin: 0;
}
.current-details-first {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 5px;
  margin-left: 5px;
  list-style: none;
}
.current-details-second {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 5px;
  margin-left: 5px;
  position: relative;
  bottom: -30px;
  list-style: none;
}

.current-details-second strong {
  color: #f65282;
}

.current-temperature-icon canvas {
  width: 160px;
  height: 80px;
}

.current-temperature-icon {
  position: relative;
  top: 10px;
  font-size: 30px;
}

.current-temperature-value {
  font-size: 90px;
  font-weight: 600;
  position: relative;
  left: -15px;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -40px;
  left: -15px;
}
